body {
    margin: 0;
    padding: 0;
}

.header-title {
    text-align: center;
}

.main-header {
    padding-top: 8px;
    background-color: rgb(124, 15, 167);
    min-height: 65px;
    color: white;
}

.main-content {
background-color: #fff;
min-height: 85vh;
}
.content_title {
    text-align: center;
}
.custom-container {
background-color: rgb(240,240,240);
min-height: 70vh;
padding-top: 12px;
padding-bottom: 12px;
}

.img_block {
    height: 330px;
    background-color: rgb(146, 137, 150);
    border-radius: 8px;}

.custom-link {
    color: white;
}

a.custom-link:hover {
    color: white;
    text-decoration: underline;
}

.profile .field_name {
    font-size: 25px;
}

.profile .field_mail {
    font-size: 18px;
}

.btn_clc {
    display: flex;
    justify-content:space-between;
}

.fatal-error-favourite {
    background-color: red;
    margin-top:10px;
    color:white;
    text-align: center;
}